/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


#banner{
background-color: #031c2e;
width:100%;
max-width: 100%;
z-index:1000;
 margin-left: 0;
 margin-right: 0;
 padding: 15px 0px 5px !important;
  min-height: 90px;
	height:auto;
 position: fixed;
    

    box-shadow: 0 3px 13px -5px #474545;
}
.v-c-pv-logo{
 width: 75%;

}

.main-div-event {
	background-color: rgba(255, 180, 1, 1) !important;
	width: 100% !important;
	
}
.main-div-view{
	background-color: rgba(255, 180, 1, 1) !important;
	width: 95% !important;
	
}
.site-title{
    margin: 0;
    text-align: center;
}
#heading{
padding:0px;
}
#navigation{
     float: right; 
    padding-left: 90px;
}

#navigation ul li.vir-private a{
font-weight:bold;
font-size:16px;
 padding: 7px 20px;
 color:white;
 transition: color .5s;
     letter-spacing: 1px;
    word-spacing: 3px;
}
#navigation ul li.selected a{
font-weight:bold;
 padding: 7px 20px;
color:#D13F41;
font-size:16px;
    letter-spacing: 1px;
    word-spacing: 3px;
}


#navigation ul li.vir-private a:hover{
color:#D13F41;
/*text-shadow: 1px 0px #d7d6dd;*/
}


.breadcrumb li a {
    font-size: 15px;
	color:#686868;
	opacity: 0.9;
}

.breadcrumb li+li a {
color: #D13F41;
}
.breadcrumb{
    margin: 0 auto;
    width: 95%;
    height: 45px;
    line-height: 45px;

}

.modify-pages li.lfr-nav-hover .delete-tab {
    opacity: 0;
}
.vir-priv-sign-in{
background-color:#D13F41;
border-radius: 4px;
}
.vir-priv-sign-in a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}
a#sign_out_url {
 padding: 7px 30px;
	color: white;
    font-weight: bold;
    font-size: 16px;
	letter-spacing: 1px;
}
#content{
 margin-top: 85px;
 overflow-x:hidden;
}

/* Notification */


li.v-c-g-c-noti>a {
     padding-top: 10px;
}
.ot-cu-bell1,.ot-cu-bell1:hover{
color: #919191;
 cursor: pointer;
 text-decoration:none;
 font-size: 25px !important;

}
.not-count1 {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #cd4028;
    color: white;
    font-size: 11px;
    margin-top: -31px;
    margin-left: 15px;
    z-index: 1;
    position: absolute;
  
	}

.cont-digit1 {
       margin-top: 2px;
    position: absolute;
    top: -13px;
    width: 18px;
    text-align: center;
}
li.v-c-g-c-noti.m-view {
    display: none;
}
.navbar-toggle .icon-bar {
    background-color: white;
}

/* end */










/* end */

@media screen and (min-width: 320px) and (max-width: 767px) {

#navigation{
    /* float: right; */
    padding-left: 0px;
}
}


@media screen and (min-width: 320px) and (max-width: 767px) {
.site-title{
text-align:inherit;
}
#navigation{
    position: absolute;
    width: 100%;
    background: white;
    display: none;
    right: 0;
    top: 70px;
}
#banner .navbar-toggle{
outline:none;
}
#navigation ul li a{
    border-bottom: 1px solid #e1e1e1;
	}
	.breadcrumb li a{
	font-size:12px;
	}
li.v-c-g-c-noti.m-view {
display: inline-block;
    float: right;
    margin-top: 20px;
}
li.v-c-g-c-noti {
    display: none;
}

	#banner .navbar-nav{
	    background: #031c2e;
	}
	
	 .v-c-pv-logo {
    width: 125px;
    padding-left: 20px;
    padding-top: 15px;
}

}