/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

.cls-det-cus-col{
    margin-right: 20px;
    background: #FFB401 !important;
    height: 160px;
    border-radius: 10px;
    box-shadow: 7px 7px 8px 0px #d4d4d4;
    margin-bottom: 30px;
}
.cls-det-cus-col h2{
font-weight:bold;

}
.cls-time{
font-size: 16px;
padding: 5px 0px;
}
.cls-cont{
 font-size: 15px;
 padding-top: 5px;
}
.jtc{
height:60px;
line-height:60px;
}
.jtc-a,.jtc-a:hover{
color:#B2472C !important;
text-decoration:underline;
font-weight:bold;
}

.std-pro-m{
	background:#FFB401 !important;
	padding:20px 10px;
	border-radius:6px;
	}
	.fa.fa-envelope.cus-fa,.fa.fa-phone.cus-fa{
	display: block;
    font-size: 20px;
    padding: 12px 0px 0px 10px;
    color: #A34129 !important;
	}
	span.fa.fa-cog.std-cus-cog,.fa.fa-clock-o.cus-fa{
	  color: #A34129 !important;
	}
	.yui3-skin-sam .calendar-portlet .yui3-calendar-weekday {
    color: #A34129 !important;
}
.yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected{
 background: #FFB401 !important;
}
.scheduler-base-controls .btn-group .calendar-add-event-btn{
background: #A34129 !important;
border-color:#A34129 !important;
}